<header>
	<div class="inside">
		<a href="/" id="logo" class="group">
			<h1 class="screen-reader-text">CSS-Tricks</h1>
			<div id="tag">A Web Design Community</div>
			<div id="slogan">
				<span>Making</span>
				<hr>
				<span>Websites</span>
				<hr>
				<span>Better</span>
				<hr>
				<em>Since 2007</em>
			</div>
		</a>
		<nav class="main-nav-wrap">
			<ul class="main-nav group">
				<li class="articles"><a href="/">Articles <span>The blog</span></a></li>
				<li class="forums"><a href="/forums/">Forums <span>Get &amp; give help</span></a></li>
				<li class="snippets"><a href="/snippets/">Snippets <span>Clip and save</span></a></li>
				<li class="videos"><a href="/video-screencasts/">Videos <span>Watch and learn</span></a></li>
				<li class="almanac"><a href="/almanac/">Almanac <span>Reference guide</span></a></li>
				<li class="gallery"><a href="/gallery/">Gallery <span>Ooooh Aaaah</span></a></li>
				<li class="downloads"><a href="/downloads/">Downloads <span>Just a seed</span></a></li>
				<li class="deals"><a href="/deals/">Deals <span>Save bucks</span></a></li>
			</ul>
		</nav>
	
		<div class="top-ad-treehouse">
		  <a href="http://teamtreehouse.com?cid=187" class="the-frog">
			<span class="the-frog-3"></span>
			<span class="the-frog-2"></span>
			<span class="the-frog-1"></span>
		  </a>
		</div>
	
	</div><!-- end inside -->
</header>