<h1>Register</h1>

<form method="post" action="/user">
  <p>
    <label>Username:</label>
    <input type="text" name="user[profile][nickname]">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="user[profile][password]">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>